
{
  
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

.carousel-container{
        width: 60;
        margin: auto;
        overflow : hidden;
        position: relative;
{


.carousel-slide{
    dispay: flex;
    width:  100px;
    height: 500px;

  }
  
  #prevBtn{
    position: absolute:
      top: 50%;
    z-indez:10;
    left: 5%;
    font-size: 30px;
    color:white;
    cursor: pointer:
      
  }
  
  #nextBtn{
    position: absolute:
      top: 50%;
    z-indez:10;
    left: 5%;
    font-size: 30px;
    color:white;
    cursor: pointer:
      
     
